/* 전역 css 정의 */

h1{
    color: red;
    
    font-size: 30px;
    
    background-color: yellow;
}

#main_head{
    color:aqua;
    
}

.head_title{
    background-color: gray;
}

a[target="_black"]{
    color:orange;
}

a:link{
    color:cyan;
}

a:visited{
    color: purple;
}


/* fonter 영역 css 정의 */
h5{
    font-size: 10px;
    background-color: gray;
    color:#222222;
    text-align: center;
}

h5:hover{
    background-color:blue;
}


#title_gear:hover{
    color: red;
}

input:focus{
    background-color: orangered;
}

div{
    width: 200px;
    height: 50px;
    background-color: #dddddd;
    text-align: center;
    border: blue solid 2px;
    border-radius: 10px;

}

div:hover button{
    color: red;
}

div#sub_btn:hover button{
    color:rgba(0, 0, 255, .7);
    background-color: yellow;
    font-weight: bolder;
    font-size:20px;
}

button{
    font-style: italic;
}